<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.webapp.validatedServlet">
      <servlet
            alias="/embed"
            class="org.eclipse.help.web.spa.EmbeddingServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/embed"
            class="org.eclipse.help.web.spa.EmbeddingServlet"
            httpcontextId="org.eclipse.help.webapp.help">
      </servlet>
   </extension>

</plugin>
