/* CSS for Eclipse Help */

/*
 * Use flex model to get header, body, footer appropriately set up
 * http://stackoverflow.com/a/30875071/600339 
 */
html,body { height: 100%; }
body { min-height: 100%; }
body {
  display: flex;
  flex-direction: column;
}
header { min-height: 3em; }
footer { min-height: 2em; }
/* apply to all contents of #main to resize the iframe to max */
#help-container, #help-container #main, #help-container #main * {
    display: flex; 
    flex-direction: column;
	flex: 1 1 auto;
}

#help-container {
	position: relative;
}

@media screen and (max-width: 768px) {
	.sidebar { 
		height: 250px;
		overflow: auto; 
	}
} 

@media screen and (min-width: 768px) {
	#help-container {
		flex-direction: row;
		align-items: stretch;
	}
	.sidebar {
		display:flex;
		overflow-x: hidden;
		overflow-y: auto;
		flex: 1 1 18em;
		margin-right: 2em;
	}
	.main {
		flex: 10 1 auto !important;
	}
}
