/* CSS for Eclipse Help */
html,body { height: 100%; }
body { min-height: 100%; }

#help-container {
	position: relative;
}

@media print {
}

#toc #block {
	display:none;
}
@media screen and (min-width: 60em) {
	.sidebar {
		position: fixed;
		left: auto;
		float:left;
		overflow-x: hidden;
		overflow-y: auto;
		width: 20.5em;
	}
	.main {
		margin-left: 24em;
		height: 100%;
	}
	#toc #block {
		display:block;
	}
}

/* IFrames need explicit height and width */
#help-content-document {
	height: 100%;
	width: 100%;
}
